.chess-board {
  width: 400px;
  height: 400px;
  margin: 20% auto 0 auto;
  background-color: rgb(224, 181, 143);
  padding: 10px;

}

.board-row {
  width: 400px;
  height: 50px;
}


.white-square {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: rgb(221, 221, 221);
  border: rgb(221, 221, 221) 4px solid;
  color: rgb(185, 146, 146);
  cursor: pointer;
}

.black-square {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: rgb(42, 42, 42);
  border:rgb(42, 42, 42) 4px solid;
  color: rgb(168, 122, 122);
  cursor: pointer;
}

.white-square:hover {
  border: rgb(123, 146, 216) 4px solid;
}

.white-square:focus {
  border: royalblue 4px solid;
}

.black-square:hover {
  border: rgb(123, 146, 216) 4px solid;
}

.black-square:focus {
  border: royalblue 4px solid;
}



.pawn {
  width: 15px;
  height: 30px;
  /* background-color: red; */
  margin: auto;
  background-image: url(../public/pawn.png);
  background-size: 15px;
  /* padding-bottom: 5px; */
}