/* .App {
  background-color:rgb(0, 25, 100);
  margin-top: -20%;
  height: 1200px;
} */

.game-container {
  width: 500px;
  height: 500px;
  margin: 20% auto 0 auto;
}

.chess-board {
  width: 400px;
  height: 400px;
  margin: 0 auto 0 auto;
  background-color: rgb(224, 181, 143);
  padding: 10px;
  /* display: flex; */
  font-size: 0px;
}

.square {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;

}

.white-square {
  background-color: rgb(221, 221, 221);
  border: rgb(221, 221, 221) 4px solid;
}

.black-square {
  background-color: rgb(97, 97, 97);
  border:rgb(97, 97, 97) 4px solid;
}

.square:hover {
  border: rgb(123, 146, 216) 4px solid;
}

/* .square:focus {
  border: royalblue 4px solid;
} */

.piece {
  position: absolute;
  left: -2px;
  height: 45px;
  width: 45px;
}

div.square-label {
  font-size: 14px;
  position:absolute;
  color:rgb(0, 25, 100);
  /* display: 'none' */
}

button.label-toggle {
  width: 100px;
  height: 20px;
  margin: 10px auto 0 200px;
  background-color: rgb(216, 216, 216);
  border: none;
  border-radius: 5px;
}

button.label-toggle:hover {
  background-color: rgb(170, 170, 170);
}

button.label-toggle:active {
  background-color: rgb(224, 181, 143);
}

.turn-indicator {
  width: 100px;
  height: 20px;
  margin: 10px auto 0 auto;
  /* background-color: rgb(216, 216, 216); */
  border: none;
  /* border-radius: 5px; */
}

.history {
  width: 300px;
  height: 40px;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto 0 auto;
  /* text-align: right; */
  /* direction: rtl; */
}


/* ###################### LOGIN ############################ */

.login-container {
  width: 600px;
  height: fit-content;
  background-color: rgb(236, 238, 243);
  border-radius: 5px;
  margin: 100px auto 0 auto;
  padding: 10px;
}

#login-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(55, 90, 243);
  margin: 20px auto 0 auto;
  font-size: 30px;
  text-align: center;
}

#login-h1-container {
  width: fit-content;
  height: fit-content;
  margin: 10px auto 15px auto;
  /* background-color: red; */
}

h1#login-h1 {
  text-align: center;
  margin: 0;
}

#login-input-container {
  height: fit-content;
  width: 70%;
  margin: 0 auto 100px auto;
  /* background-color: white; */
}

.input-label {
  font-size: 14px;
  margin-left: 5px;
}

input.login-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 3px 0 5px 0;
  padding: 3px 10px 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;

}

#login-submit {
  width: 100%;
  height: 46px;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  border-radius: 5px;
  border: none;
  background-color: rgb(55, 90, 243);
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;

  /* box-shadow: 0 0 2px 0px rgb(100, 100, 100); */

}

#login-submit:hover {
  border: none;
  background-color: rgb(11, 56, 255);
  color: white;
  box-shadow: 0 0 3px 0px rgb(54, 54, 54);
  transition: 0.3s;
}

#login-submit:active {
  background-color: rgb(97, 126, 255);
  color: white;
  /* box-shadow: 0 0 3px 0px rgb(54, 54, 54); */
  /* transition: 0.3s; */
}

a.login-link {
  float: right;
  margin: 5px 0 0 0;
}
