.game-container {
  width: 500px;
  height: 500px;
  margin: 20% auto 0 auto;
}

.chess-board {
  width: 400px;
  height: 400px;
  margin: 0 auto 0 auto;
  background-color: rgb(224, 181, 143);
  padding: 10px;
  /* display: flex; */
  font-size: 0px;
}

.square {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;

}

.white-square {
  background-color: rgb(221, 221, 221);
  border: rgb(221, 221, 221) 4px solid;
}

.black-square {
  background-color: rgb(97, 97, 97);
  border:rgb(97, 97, 97) 4px solid;
}

.square:hover {
  border: rgb(123, 146, 216) 4px solid;
}

/* .square:focus {
  border: royalblue 4px solid;
} */

.piece {
  position: absolute;
  left: -2px;
  height: 45px;
  width: 45px;
}

div.square-label {
  font-size: 14px;
  position:absolute;
  color:rgb(0, 25, 100);
  /* display: 'none' */
}

button.label-toggle {
  width: 100px;
  height: 20px;
  margin: 10px auto 0 200px;
  background-color: rgb(216, 216, 216);
  border: none;
  border-radius: 5px;
}

button.label-toggle:hover {
  background-color: rgb(170, 170, 170);
}

button.label-toggle:active {
  background-color: rgb(224, 181, 143);
}

.turn-indicator {
  width: 100px;
  height: 20px;
  margin: 10px auto 0 auto;
  /* background-color: rgb(216, 216, 216); */
  border: none;
  /* border-radius: 5px; */
}