/* .App {
  background-color:rgb(0, 25, 100);
  margin-top: -20%;
  height: 1200px;
} */

.game-container {
  width: 500px;
  height: 500px;
  margin: 20% auto 0 auto;
}

.chess-board {
  width: 400px;
  height: 400px;
  margin: 0 auto 0 auto;
  background-color: rgb(224, 181, 143);
  padding: 10px;
  /* display: flex; */
  font-size: 0px;
}

.square {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;

}

.white-square {
  background-color: rgb(221, 221, 221);
  border: rgb(221, 221, 221) 4px solid;
}

.black-square {
  background-color: rgb(97, 97, 97);
  border:rgb(97, 97, 97) 4px solid;
}

.square:hover {
  border: rgb(123, 146, 216) 4px solid;
}

/* .square:focus {
  border: royalblue 4px solid;
} */

.piece {
  position: absolute;
  left: -2px;
  height: 45px;
  width: 45px;
}

div.square-label {
  font-size: 14px;
  position:absolute;
  color:rgb(0, 25, 100);
  /* display: 'none' */
}

button.label-toggle {
  width: 100px;
  height: 20px;
  margin: 10px auto 0 200px;
  background-color: rgb(216, 216, 216);
  border: none;
  border-radius: 3px;
}

button.label-toggle:hover {
  background-color: rgb(170, 170, 170);
}

button.label-toggle:active {
  background-color: rgb(224, 181, 143);
}

.turn-indicator {
  width: 100px;
  height: 20px;
  margin: 10px auto 0 auto;
  /* background-color: rgb(216, 216, 216); */
  border: none;
  /* border-radius: 5px; */
}

.history {
  width: 300px;
  height: 40px;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto 0 auto;
  /* text-align: right; */
  /* direction: rtl; */
}

.login-button{
  display: block;
  height: fit-content;
  width: 200px;
  margin: 0 auto 10px auto;
  font-size: 18px;
  color: white;
  padding: 5px 0 5px 0;
  border: none;
  background-color: rgb(97, 126, 255);
  border-radius: 3px;
  font-weight: 600;
}

.login-button:hover{
  color: white;
  border: none;
  background-color: rgb(67, 102, 255);
  outline:rgb(67, 102, 255) solid 1px;
}

.login-button:active{
  background-color: rgb(32, 72, 251);

}


/* ###################### LOGIN ############################ */

.login-container {
  width: fit-content;
  height: fit-content;
  background-color: rgb(236, 238, 243);
  border-radius: 5px;
  /* outline: solid 1px rgb(217, 218, 223); */
  margin: 100px auto 0 auto;
  padding: 10px 80px 10px 80px;
}

#login-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(55, 90, 243);
  margin: 30px auto 0 auto;
  font-size: 30px;
  text-align: center;
}

#login-h1-container {
  width: fit-content;
  height: fit-content;
  margin: 10px auto 15px auto;
  /* background-color: red; */
}

h1#login-h1 {
  text-align: center;
  margin: 0;
}

#login-input-container {
  height: fit-content;
  width: 380px;
  margin: 0 auto 100px auto;
  /* background-color: white; */
}

.input-label {
  font-size: 0px;
  margin-left: 12px;
  color:rgba(0, 0, 0, 0.787);
  font-weight: 600;
}

.input-label:focus-within {
  font-size: 14px;
  transition: 0.3s;

}

input.login-input {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  margin: 3px 0 5px 0;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.137);

}

input.login-input:hover {
  outline: solid 2px rgb(221, 221, 221);

}

input.login-input:focus {
  outline: none;
}

input.login-input:focus::placeholder {
  font-size: 0;
  transition: 0.3s;
}

::placeholder {
  color: black;
  opacity: 0.4;
}

#login-submit {
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  margin: 22px 0 10px 0;
  border-radius: 5px;
  border: none;
  background-color: rgb(55, 90, 243);
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

#login-submit:hover {
  border: none;
  background-color: rgb(11, 56, 255);
  color: white;
  box-shadow: 0 0 3px 0px rgb(54, 54, 54);
  transition: 0.3s;
}

#login-submit:active {
  background-color: rgb(97, 126, 255);
  color: white;
}

a.login-link {
  float: right;
  margin: 5px 0 0 0;
}

#alert {
  opacity: 1.0;
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: fit-content;
  background-color: #e24545;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.alert-message {
  display: block;
  width: 100%;
  margin: 10px;
}

div.existing-login {
  margin: 10px 0 0 0;
  width: 350px;
  font-size: 14px;
  color:rgba(0, 0, 0, 0.787);
  font-weight: 600;
}

div.existing-login-text {
  width: 350px;
  margin-top: 10px;
}

/* login done */


/* testing  */

#test-game-container-blue{
  width: 400px;
  height: fit-content;
  background-color: rgb(204, 213, 255);
  margin: 10% auto 20px auto;
  padding: 10px;
  border-radius: 5px;
}

#test-game-container-red{
  width: 400px;
  height: fit-content;
  background-color: rgb(255, 204, 204);
  margin: 10% auto 20px auto;
  padding: 10px;
  border-radius: 5px;
}

#test-game-internal{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: fit-content;
  background-color: rgb(249, 251, 255);
  border-radius: 4px;
}

#test-user-notice{
  /* font-size: 20px; */
  color:rgb(122, 122, 122);
  font-weight: 600;
  width:fit-content;
  height: fit-content;
  margin: 0 auto 10px auto;
}

#test-game-title{
  /* font-size: 20px; */
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 30px;
  width:fit-content;
  height: fit-content;
  margin: 0 auto 10px auto;
}

#test-game-status{
  /* font-size: 20px; */
  color:rgb(122, 122, 122);
  width:fit-content;
  height: fit-content;
  margin: 0 auto 10px auto;
}

#checker-status{
  /* font-size: 20px; */
  color:rgb(122, 122, 122);
  width:fit-content;
  height: fit-content;
  margin: 0 auto 10px auto;
}

#test-game-turn{
  /* font-size: 20px; */
  color: rgb(55, 90, 243);
  font-weight: 600;
  font-size: 30px;
  width:fit-content;
  height: fit-content;
  margin: 0 auto 10px auto;
}

#test-game-state{
  /* font-size: 20px; */
  color: rgb(79, 88, 129);
  font-weight: 600;
  font-size: 16px;
  width:fit-content;
  height: fit-content;
  margin: 0 auto 10px auto;
}

.test-button{
  display: block;
  height: fit-content;
  width: 200px;
  margin: 0 auto 10px auto;
  font-size: 18px;
  color: white;
  padding: 5px 0 5px 0;
  border: none;
  background-color: rgb(97, 126, 255);
  border-radius: 3px;
  font-weight: 600;
}

.test-button:hover{
  color: white;
  border: none;
  background-color: rgb(67, 102, 255);
  outline:rgb(67, 102, 255) solid 1px;
}

/* ------------ LOBBY ----------- */

#lobby-container{
  width: fit-content;
  height: fit-content;
  background-color: rgb(236, 238, 243);
  border-radius: 5px;
  /* outline: solid 1px rgb(217, 218, 223); */
  margin: 100px auto 0 auto;
  padding: 10px 80px 10px 80px;
}

#lobby-games-list {
  height: fit-content;
  width: 380px;
  margin: 0 auto 20px auto;
  background-color: white;
  padding: 10px;
}

.lobby-game-item{
  width: 80%;
  height: fit-content;
  margin: 5px auto 5px auto;
  border-radius: 5px;
  background-color: rgb(236, 238, 243);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.lobby-game-item:hover{
  background-color: rgb(227, 230, 233);
  outline:rgb(227, 230, 233) solid 1px;
}

.game-item-title{
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 0 3px;
}

/* .game-item-title-full{
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  color: rgb(184, 184, 184);
  margin: 0 0 0 3px;
} */

.game-item-text{
  display: inline-flex;
  color: rgb(122, 122, 122);
  font-weight: 600;
}

.game-item-host{
  display: inline-flex;
  color: rgb(97, 126, 255);
  font-weight: 600;
}

.game-item-host-username{
  width: fit-content;
  height: fit-content;
  color: rgb(97, 126, 255);
  font-weight: 600;
  display: inline-flex;
}

.game-item-host-username:hover{
  color: rgb(0, 47, 255);
  /* font-weight: 700; */
}

.game-item-host-rating{
  width: fit-content;
  height: fit-content;
  color: rgb(78, 78, 78);
  font-weight: 600;
  font-size: 10px;
  display: inline-flex;
  vertical-align: super;
}

.game-item-button{
  height: 20px;
  width: 80px;
  font-size: 14px;
  color: white;
  padding: 0 7px 2px 7px;
  border: none;
  background-color: rgb(97, 126, 255);
  border-radius: 3px;
  font-weight: 600;
}

.game-item-button:hover{
  color: white;
  border: none;
  background-color: rgb(67, 102, 255);
  outline:rgb(67, 102, 255) solid 1px;
}

.game-item-button-full{
  height: 20px;
  width: 80px;
  font-size: 14px;
  color: white;
  padding: 0 7px 2px 7px;
  border: none;
  background-color: rgb(184, 184, 184);
  border-radius: 3px;
  font-weight: 600;
}

/* lobby done  */

/* ###################### ME ############################ */

.me-container {
  width: fit-content;
  height: fit-content;
  background-color: rgb(236, 238, 243);
  border-radius: 5px;
  /* outline: solid 1px rgb(217, 218, 223); */
  margin: 100px auto 0 auto;
  padding: 10px 80px 10px 80px;
}

#me-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(55, 90, 243);
  margin: 30px auto 0 auto;
  font-size: 30px;
  text-align: center;
}

#me-history-container {
  height: fit-content;
  width: 380px;
  margin: 0 auto 10px auto;
  padding: 10px 15px 10px 15px;

  /* background-color: rgb(236, 238, 243); */
  background-color: white;
  border-radius: 4px;
}


#me-user-container {
  width: fit-content;
  height: fit-content;
  margin: 10px auto 15px auto;
}

#me-user-username {
  width: fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 28px;
  display: inline;
}

.me-user-rating {
  width: fit-content;
  height: fit-content;
  color: rgb(78, 78, 78);
  font-weight: 600;
  font-size: 1em;
  display: inline;
  vertical-align: super;
}

h2#me-history-h2 {
  text-align: center;
  margin: 0 0 10px 0;
  color: rgb(117, 117, 117);
}

.me-history-rating{
  width: fit-content;
  margin: 0 auto 0 auto;
  text-align: center;
}


#me-history-list {
  height: fit-content;
  max-height: 400px;
  overflow-y: auto;
  width: 340px;
  margin: 0 auto 20px auto;
  
  padding: 10px 5px 10px 5px;
}

.me-history-item {
  box-sizing: border-box;
  width: 310px;
  height: 28px;
  margin: 5px auto 5px auto;
  border-radius: 5px;
  background-color: rgb(236, 238, 243);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.me-history-none {
  box-sizing: border-box;
  width: 310px;
  height: 28px;
  margin: 5px auto 5px auto;
  border-radius: 5px;
  background-color: rgb(236, 238, 243);
  padding: 5px 5px 5px 15px;
  display: flex;
  font-weight: 600;
}

.me-history-item:hover{
  background-color: rgb(227, 230, 233);
  outline:rgb(227, 230, 233) solid 1px;
}

.me-history-item-title{
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 0 3px;
}

.me-history-item-outcome-win {
  width: 40px;
  text-align: center;
  color: rgb(0, 158, 79);
  font-weight: 600;
}

.me-history-item-outcome-draw {
  width: 40px;
  text-align: center;
  color: rgb(116, 116, 116);
  font-weight: 600;
}

.me-history-item-outcome-loss {
  width: 40px;
  text-align: center;
  color: rgb(230, 118, 118);
  font-weight: 600;
}

.me-history-item-opponent{
  color: rgb(97, 126, 255);
  font-weight: 600;
}

.me-history-item-opponent-username{
  width: fit-content;
  height: fit-content;
  color: rgb(97, 126, 255);
  font-weight: 600;
  display: inline-flex;

}

.me-history-item-opponent-rating{
  width: fit-content;
  height: fit-content;
  color: rgb(78, 78, 78);
  font-weight: 600;
  font-size: 10px;
  display: inline-flex;
  vertical-align: super;
}



.me-history-item-time{
  margin: 2px 3px 0 0;
  color: rgb(136, 136, 136);
  font-weight: 600;
  font-size: 12px;
}

.me-button{
  display: block;
  height: fit-content;
  width: 200px;
  margin: 0 auto 20px auto;
  font-size: 18px;
  color: white;
  padding: 5px 0 5px 0;
  border: none;
  background-color: rgb(97, 126, 255);
  border-radius: 3px;
  font-weight: 600;
}

.me-button:hover{
  color: white;
  border: none;
  background-color: rgb(67, 102, 255);
  outline:rgb(67, 102, 255) solid 1px;
}

/* me done */